* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid pink; */
}

.container {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr 10fr 1fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;

}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1 / 3;
}

.logo {
  align-content: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 2 / 3;
  align-content: center;

}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-content: center;
}

.nav {
  background-color: #C50208;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}